<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="postFgmt">
    <div class="card" th:each="post : ${feed}" th:if="${!post.isHidden}">
        <div class="card-body">
            <h5 class="card-title" th:text="${post.title}"></h5>
            <h6 class="card-subtitle mb-2 text-muted" th:text="'Sent at : ' + ${#dates.format(post.createDate, 'dd-MMM-yyyy')}"></h6>
            <p class="card-text" th:text="${post.content}"></p>

        </div>
    </div>
</div>
</body>
</html>